.btn{
    background-color: #191A23;
    color: #fff; 
    height: 30px;
    border-radius: 14px; 
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center; 
    align-self: center;
}

.btn:active{
    color: #9e9e9e; 
}