.header{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Space Grotesk', sans-serif; 
    font-weight: 400;
    font-size: 20px;
}

.header-navBar{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-btn{
    border: 1px solid #191A23;
    padding: 20px 35px ;
    border-radius: 14px;
    background-color: #fff;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif; 
    cursor: pointer;
}

.header-btn:active{
    border: 1px solid #9e9e9e;  
}

.header-nav-items-list{
    display: flex;  
    gap: 40px;
    list-style-type: none;
    
    a{
        color: #000000;
        text-decoration: none; 
    }
 
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header{ 
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 17px;
        
    }
     
    .header-btn{
        padding: 10px 25px; 
        text-align: center;
        border-radius: 14px;
        background-color: #fff;
        font-size: 16px;
        font-family: 'Space Grotesk', sans-serif; 
        cursor: pointer;
        border: 1px solid #191A23;
    }
}
