.homePage{
    margin: auto; 
    max-width: 1800px;
    position: relative;
}
.home-poster{  
    padding-top: 60px;
    height: max-content;
    display: flex; 
    justify-content: space-around; 
} 

.home-content-poster{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2{
        font-weight: 500;
        font-size: 50px;
    }

    p{ 
        font-size: 20px;
    }
  
}

.home-company-logo{   
    max-width: 1480px;
    display: flex; 
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 60px;
}

.home-title-section{
    padding: 40px 170px;
    font-size: 18px; 
}
 
.home-services-cards{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 40px; 
}

.text-banner{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    font-size: 18px; 
}

.text-banner-content{
    font-weight: 400; 
}
 
.drop-cards-section{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

}

.all-team{
    display: flex;
    justify-content: flex-end;
    padding: 40px 0 0 0;
} 

@media (min-width: 768px) and (max-width: 1199px) {
    .home-poster{    
        display: flex; 
        flex-direction: column; 
        align-items: center;  
        position: relative;
    }

    .home-content-poster{ 
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        text-align: center;
        width: 650px;

    }
  
    .illustration-home{
        margin-top: 50px;
    }

    .home-company-logo{ 
        margin: 0 50px; 
        flex-wrap: wrap; 
        gap: 10px 70px;
    }

    .home-title-section{
        padding: 30px 40px 0 40px;
    }
    
    .CardModel{
        flex-direction: column;
    }

    .text-banner{   
        gap:  0px;
        padding: 70px 70px 40px 70px;
        font-size: 18px; 
    }
     
    .all-team{
        display: flex;
        justify-content: center; 
    }

    .carousel-adapter{
        padding: 0 70px 0 0;
    }
}